
:root{
  --Color1:#060606;
  --Color2:#1c262d;
  --Color3:#3e5263;
  --Color4:#65869e;
  --Color5:#91bfdc;
}

* {
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

a{
  text-decoration: none;
  color: #eee;
}

header{
  width: 100%;
  height: 63rem;
  background-image: url('../img/pc3.jpg');
  background-position: center center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.container{
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
}

nav{
  padding-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-size: 1.6rem;
}

.brand{
  font-size: 3rem;
  font-weight: 400;
  transform: translateX(-100rem);
  animation: slideIn .5s forwards;
}


nav ul{
  display: flex;
}

nav ul li{
  list-style: none;
  transform: translateX(100rem);
  animation: slideIn .5s forwards;
}

nav ul li:nth-child(1){
  animation-delay: 0s;
}

nav ul li:nth-child(2){
  animation-delay: .5s;
}

nav ul li:nth-child(3){
  animation-delay: 1s;
}

nav ul li:nth-child(4){
  animation-delay: 1.5s;
}

nav ul li a{
  padding: 1rem 0;
  margin: 0 3rem;
  position: relative;
  letter-spacing: 2px;
  font-family: 'Bebas Neue', cursive;
  font-size: 3rem;
}

nav ul li a:last-child{
  margin-right: 0;
}

nav ul li a::before,
nav ul li a::after{
  content: '';
  position: absolute;
  width: 100%;
  height: .2rem;
  background-color: white;
  left: 0;
  transform: scaleX(0);
  transition: all .5s;
}

nav ul li a::before{
  top: 0;
  transform-origin: left;
}

nav ul li a::after{
  bottom: 0;
  transform-origin: right;
}
nav ul li a:hover::before,
nav ul li a:hover::after{
  transform: scaleX(1);
}

@keyframes slideIn {
  from{

  }
  to{
    transform: translateX(0);
  }
}
.textoImagen{
  display: flex;
  width: 50%;
  height: 50rem;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
h2{
  color: white;
  font-size: 6rem;
  font-weight: 700;
  font-family: 'Noto Serif', serif;

}
p{
  color: white;
  font-size: 4rem;
  font-family: 'Bebas Neue', cursive;
}
.contenedorConocimientos{
  height: 25rem;
  color: white;
  background-color: #1c262d;
}
.tituloConocimientos{
  font-size: 5rem;
  padding-top: 2rem;
  margin-bottom: 4rem;
  text-align: center;
  font-weight: 700;
  font-family: 'Noto Serif', serif;

}
.contenedorImagenConocimientos{
  display: flex;
  justify-content: space-evenly;
}
.imagenConocimientos{
  height: 8rem;
  width: 8rem;
}
